<ng-container *tuiLet="value$ | async as value">
    <tui-hosted-dropdown tuiDropdownAlign="left" [content]="dropdown" [(open)]="open"
        *ngIf="((currencies$ | async)?.length||0)>1">
        <button tuiButton type="button" appearance="flat" [size]="'s'" [icon]="'tuiIconCollapse'" [iconRight]="icon">
            {{value ?? 'All'}}
        </button>
    </tui-hosted-dropdown>
    <ng-template #icon>
        <tui-svg src="tuiIconChevronDown" class="icon" [class.icon_rotated]="open"></tui-svg>
    </ng-template>
    <ng-template #dropdown>
        <tui-data-list [size]="'s'">
            <button tuiOption (click)="onClick(null)">
                All
                <tui-svg *ngIf="!value" src="tuiIconCheck"></tui-svg>
            </button>
            <button *ngFor="let option of currencies$ | async" tuiOption (click)="onClick(option)">
                {{ option }}
                <tui-svg *ngIf="option === value" src="tuiIconCheck"></tui-svg>
            </button>
        </tui-data-list>
    </ng-template>
</ng-container>