<form [formGroup]=form>
    <tui-input formControlName="fullname" [tuiTextfieldSize]="'s'">
        Name
        <input tuiTextfield autocomplete="off" />
    </tui-input>
    <div class="d-flex mt-3">
        <span class="flex-fill">Initial Balances</span>
        <button tuiIconButton type="button" [icon]="'tuiIconPlus'" [size]="'s'" [appearance]="'flat'"
            (click)="onAddAccount(null)"></button>
    </div>
    <table class="w-100 accounts">
        <tr *ngFor="let account of accounts.controls; let i = index" formArrayName="accounts">
            <ng-template [formGroupName]="i" [ngIf]="!account.value.deleted">
                <td>
                    <tui-input formControlName="name"
                        [tuiTextfieldSize]="'s'">{{getAccount(i).getRawValue().currency}}</tui-input>
                </td>
                <td>
                    <tui-input-number formControlName="start_balance" [tuiTextfieldSize]="'s'">0,00
                    </tui-input-number>
                </td>
                <td>
                    <tui-combo-box formControlName="currency" [tuiTextfieldSize]="'s'" class="currency"
                        [strict]="false">
                        <input tuiTextfield />
                        <tui-data-list-wrapper *tuiDataList [items]="currencies | tuiFilterByInput" [size]="'s'">
                        </tui-data-list-wrapper>
                    </tui-combo-box>
                </td>
                <td>
                    <button tuiIconButton type="button" [icon]="'tuiIconTrash'" [size]="'s'" [appearance]="'flat'"
                        [disabled]="!canDelete || !!account.value.balance" (click)="onRemoveAccount(i)"></button>
                </td>
            </ng-template>
        </tr>
    </table>
    <div class="mt-3" *ngIf="isOwnerOrCoowner">
        Permissions
        <div class="d-flex">
            <tui-input [tuiTextfieldSize]="'s'" [formControl]="query" [tuiTextfieldCleaner]="true" class="flex-fill me-2"
                *tuiLet="users$ | async as users">
                Email
                <input autocomplete="off" tuiTextfield />
                <!-- <ng-container *ngIf="users?.length"> -->
                <tui-data-list *tuiDataList>
                    <button *ngFor="let user of users" tuiOption [value]="user" (click)="onSelectedUser(user)">
                        {{ user }}
                    </button>
                </tui-data-list>
                <!-- </ng-container> -->
            </tui-input>
            <tui-select class="rights" [formControl]="rights" [valueContent]="optionContent" [tuiTextfieldSize]="'s'">
                <tui-data-list-wrapper *tuiDataList [items]="options" [itemContent]="optionContent" [size]="'s'">
                </tui-data-list-wrapper>
            </tui-select>
            <ng-template #optionContent let-option>{{option.name}}</ng-template>
            <button tuiIconButton type="button" [icon]="'tuiIconPlus'" [size]="'s'" [appearance]="'flat'"
                (click)="onAddPermission()" [disabled]="!selected"></button>
        </div>
        <table class="w-100 permissions mt-2">
            <tr *ngIf="permissions.controls.length>0">
                <td></td>
                <td>Admin</td>
                <td>Write</td>
                <td>Read</td>
                <td></td>
            </tr>
            <tr *ngFor="let p of permissions.controls; let i = index" formArrayName="permissions">
                <ng-container [formGroupName]="i">
                    <td>{{getPermission(i).getRawValue().user.email}}</td>
                    <td><input type="checkbox" formControlName="is_admin" (change)="onToggleAdmin($event, i)"></td>
                    <td><input type="checkbox" formControlName="is_write"></td>
                    <td><input type="checkbox" [disabled]="true" [checked]="true"></td>
                    <td>
                        <button tuiIconButton type="button" [icon]="'tuiIconTrash'" [size]="'s'" [appearance]="'flat'"
                            (click)="onRemovePermission(i)"></button>
                    </td>
                </ng-container>
            </tr>
        </table>
    </div>
</form>