<div class="h-100 overflow-auto">
    <table class="table">
        <tr *ngFor="let g of groups$ | async"
            [class.expanded]="(expanded$ | async).includes(g.id)" [class.owner]="g.is_owner"
            [class.coowner]="g.is_coowner" [class.shared]="g.is_shared">
            <td [class.active]="isGroupSelected(g)" (click)="selectGroup(g, $event)">
                <div class="group">
                    <a tuiLink>{{g.fullname}}</a>
                </div>
                <div class="account" *ngFor="let a of g.accounts" [class.active]="isAccountSelected(a)" (click)="selectAccount(a, $event)">
                    <a tuiLink *ngIf="!a.deleted">{{a.fullname}}</a>
                </div>
            </td>
            <td (click)="toggle(g)">
                <tui-svg *ngIf="isGroupExpandable(g)" src="tuiIconChevronDown" class="icon"></tui-svg>
            </td>
            <td class="text-end" (click)="toggle(g)">
                <div class="group" *ngFor="let t of total(g)">{{t.value | currency:t.currency}}</div>
                <div class="account" *ngFor="let a of g.accounts">
                    <ng-container *ngIf="!a.deleted">{{a.balance | currency:a.currency}}</ng-container>
                </div>
            </td>
        </tr>
        <tr>
            <td><a tuiLink [pseudo]="true" (click)="newGroup()">new account</a></td>
            <td>&nbsp;</td>
            <td class="text-end">
                <div *ngFor="let t of total$ | async">{{t.value | currency:t.currency}}</div>
            </td>
        </tr>
    </table>
</div>