<form [formGroup]=form>
    <tui-input formControlName="fullname" [tuiTextfieldSize]="'s'">Name</tui-input>
    <div class="d-flex mt-3">
        <span class="flex-fill">Initial Balances</span>
        <button tuiIconButton type="button" [icon]="'tuiIconPlus'" [size]="'s'" [appearance]="'flat'"></button>
    </div>
    <table class="w-100">
        <tr *ngFor="let account of accounts.controls; let i = index" formArrayName="accounts">
            <ng-container [formGroupName]="i">
                <td>
                    <tui-input formControlName="name" [tuiTextfieldSize]="'s'">{{getAccount(i).controls.currency.value}}
                    </tui-input>
                </td>
                <td>
                    <tui-input formControlName="currency" [tuiTextfieldSize]="'s'">Currency</tui-input>
                </td>
                <td>
                    <tui-input-number formControlName="start_balance" [tuiTextfieldSize]="'s'">Start Balance
                    </tui-input-number>
                </td>
                <td>
                    <button tuiIconButton type="button" [icon]="'tuiIconTrash'" [size]="'s'" [appearance]="'flat'" [disabled]="true"></button>
                </td>
            </ng-container>
        </tr>
    </table>
</form>