<div class="h-100 px-3 d-flex align-items-center" tuiMode="onDark">
    <div class="fw-bolder me-2">Swarmer Finance</div>
    <span *ngIf="accounts.length">
        <button tuiIconButton type="button" icon="tuiIconRefreshCw" [size]="'s'" [appearance]="'flat'"
            (click)="onRefresh()" class="tui-space_right-2"></button>
        <button tuiIconButton type="button" icon="tuiIconMinus" [size]="'s'" [appearance]="'flat'"
            (click)="onExpense()"></button>
        <button tuiIconButton type="button" *ngIf="accounts.length>1" icon="tuiIconMinimize" [size]="'s'"
            [appearance]="'flat'" (click)="onTransfer()"></button>
        <button tuiIconButton type="button" icon="tuiIconPlus" [size]="'s'" [appearance]="'flat'"
            (click)="onIncome()"></button>
    </span>
    <span *ngIf="transactions_id$ | async" class="tui-space_left-2">
        <button tuiIconButton type="button" icon="tuiIconEdit" [size]="'s'" [appearance]="'flat'"
            (click)="editTransaction()"></button>
        <button tuiIconButton type="button" icon="tuiIconTrash" [size]="'s'" [appearance]="'flat'"
            (click)="deleteTransaction()"></button>
    </span>
    <span class="flex-fill"></span>
    <span *ngIf="isAuthenticated$ | async">
        <tui-hosted-dropdown #accMenu [content]="accDropdown" tuiDropdownAlign="left" [(open)]="open">
            <button tuiButton type="button" appearance="flat" [size]="'s'" [iconRight]="icon">
                <tui-svg src="tuiIconSettings"></tui-svg>
            </button>
        </tui-hosted-dropdown>
        <ng-template #icon>
            <tui-svg src="tuiIconChevronDown" class="icon" [class.icon_rotated]="accMenu.open"></tui-svg>
        </ng-template>
        <ng-template #accDropdown>
            <tui-data-list [size]="'s'">
                <button tuiOption (click)="newGroup()">New Account</button>
                <button tuiOption *ngIf="!!group" (click)="editGroup(group)">Edit
                    '{{group.fullname}}'</button>
                <button tuiOption *ngIf="!!group" (click)="deleteGroup(group)">Delete
                    '{{group.fullname}}'</button>
                <button tuiOption *ngIf="account$ | async as account" (click)="onCorrection(account)">
                    Correct '{{account.fullname}}' Balance</button>
                <button tuiOption *ngIf="account$ | async as account" (click)="onImport(account)">Import
                    '{{account.fullname}}' Statement</button>
                <button tuiOption (click)="onCategories()">Categories</button>
                <button tuiOption (click)="onSaveBackup()">Save Backup</button>
                <button tuiOption (click)="onLoadBackup()">Load Backup</button>
            </tui-data-list>
        </ng-template>
    </span>
    <span *ngIf="isAuthenticated$ | async">
        <tui-hosted-dropdown #userMenu [content]="dropdown" tuiDropdownAlign="left">
            <button tuiButton type="button" appearance="flat" [size]="'s'" [icon]="'tuiIconUser'"
                [iconRight]="icon">{{(claims$ | async)?.name}}</button>
        </tui-hosted-dropdown>
        <ng-template #icon>
            <tui-svg src="tuiIconChevronDown" class="icon" [class.icon_rotated]="userMenu.open"></tui-svg>
        </ng-template>
        <ng-template #dropdown>
            <tui-data-list>
                <button tuiOption (click)="logout()" [size]="'s'">Logout</button>
            </tui-data-list>
        </ng-template>
    </span>
</div>