@import '@taiga-ui/core/styles/taiga-ui-local';

.icon {
    @include transition(transform);
    &_rotated {
        transform: rotate(180deg);
    }    
}

:host {
    display: block;
    height: 2.5rem;
    background: #454e58;
    color: #fff;
}