<div class="h-100 d-flex justify-content-center align-items-center">
    <form [formGroup]="form" (ngSubmit)="submit()" class="d-flex flex-column" style="min-width: 25rem;" [tuiTextfieldSize]="'s'">
        <p>
            <label [tuiLabel]="'Email'">
                <tui-input formControlName="username">Enter your email</tui-input>
            </label>
            <!-- <tui-field-error formControlName="username"></tui-field-error> -->
        </p>
        <p>
            <label [tuiLabel]="'Password'">
                <tui-input-password formControlName="password">Enter your password</tui-input-password>
            </label>
            <!-- <tui-field-error formControlName="password"></tui-field-error> -->
        </p>
        <p class="d-flex align-items-center">
            <span class="flex-fill">New to Swarmer Finance? <a [routerLink]="['/register']" routerLinkActive="router-link-active" >Create an account</a></span>
            <button type="submit" tuiButton  [size]="'s'">Login</button>
        </p>
    </form>
</div>