<div class="container">
    <div class="table">
        <table tuiTable [columns]="columns">
            <thead>
                <tr tuiThGroup>
                    <th *tuiHead="'selected'" tuiTh [sorter]="null"></th>
                    <th *tuiHead="'date'" tuiTh [sorter]="null">Date</th>
                    <th *tuiHead="'amount'" tuiTh [sorter]="null">Amount</th>
                    <th *tuiHead="'category'" tuiTh class="category" [sorter]="null">Category</th>
                    <th *tuiHead="'rule'" tuiTh [sorter]="null" class="rule"></th>
                    <th *tuiHead="'party'" tuiTh [sorter]="null">Sender/Reciever</th>
                    <th *tuiHead="'details'" tuiTh [sorter]="null">Details</th>
                </tr>
            </thead>
            <tbody tuiTbody [data]="data">
                <tr *tuiRow="let item of data; let index = index" tuiTr [class.credit]="item.type == 1"
                    [class.debit]="item.type == 2">
                    <td *tuiCell="'selected'" tuiTd><input type="checkbox" [checked]="item.selected" (change)="onCheck($event, index)"></td>
                    <td *tuiCell="'date'" tuiTd>{{item.opdate | date: 'dd/MM/yyyy'}}</td>
                    <td *tuiCell="'amount'" tuiTd class="number">{{item.debit | currency: item.currency}}</td>
                    <td *tuiCell="'category'" tuiTd class="category">
                        <tui-select [valueContent]="categoryValue" [formControl]="category(index)">
                            no category
                            <tui-data-list-wrapper *tuiDataList [items]="(categories$ | async) | tuiFilter: matcher: item.type"
                                [itemContent]="categoryContent" [size]="'s'">
                            </tui-data-list-wrapper>
                        </tui-select>
                    </td>
                    <td *tuiCell="'rule'" tuiTd class="rule"><button tuiIconButton icon="tuiIconSettings" [size]="'s'" [appearance]="'flat'" (click)="onRule(index)"></button></td>
                    <td *tuiCell="'party'" tuiTd>{{item.party}}</td>
                    <td *tuiCell="'details'" tuiTd>{{item.details}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="footer">
        <button tuiButton type="button" [appearance]="'primary'" [size]="'s'" (click)="onNext()">Next</button>
        <button tuiButton type="button" [appearance]="'secondary'" [size]="'s'" (click)="onCancel()">Cancel</button>
    </div>
</div>
<ng-template #categoryValue let-category>
    {{category.fullname}}
</ng-template>
<ng-template #categoryContent let-category>
    <div [class]="'category-level-' + category.level">{{category.name}}</div>
</ng-template>