div.active>div {
    background-color: rgba(0,0,0,.075);
}
  

.t-content {
    border-top: 1px solid #dee2e6;
    padding: 0 .5rem;
}

.t-row {
    display: flex;
}

.t-long {
    display: block;
    max-width: 30rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 11px;
}

.t-left {
    display: block;
    max-width: 23rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.t-fill {
    flex: 1;
}

.t-right {
    padding-left: 2rem;
    text-align: right;
}

.type0 {
    color: #8f8100;
}

.type1 {
    color: #b40000;
}

.type2 {
    color: #14aa00;
}
